.App {
  text-align: center;
  font-family: Friz Quadrata Std,Mobilo,Helvetica,Arial
}

.container {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.background-container {
  background-image: url("../public/images/teamfighttactics_background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;  
}

.background-container::before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.9));
}

.header {
  position: relative;
  color: white;
  font-size: 5rem;
}

.header-image {
  height: 100px;
  width: 125px;
}

.footer {
  margin: 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  bottom: 0;
  background-color: black;
}

.game-end-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin-top: 10px;
  align-content: center;
  background-color: #1e2328;
  border: 2px solid #af9767;
}

.champion-image-game-end {
  padding: 20px;
  height: 100px;
  width: 100px;
}

.button {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  background: none;
  border: none;
}

.button-img:hover {
  width: 80px;
  height: 90px;
  transition: ease-out 0.5s;
}

.button-img{
  height: 60px;
  width: 50px;
}

.game-header {
  display: flex;
  flex-direction: column;
  background-color: #1e2328;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  padding: 50px;
  border: 2px solid #af9767;
  font-size: large;
}

.searchbar-main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 85px;
  padding: 10px;
  margin: 1rem;
}

.searchbar-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  font-size: large;
  color: white;
  height: 30px;
  padding: 10px;
  width: 350px;
  border: 2px solid rgb(54, 166, 241);
  background-color: #1e2328;
}

.answer-container {
  display: flex;
  max-width: 800px;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

.attribute-container {
  display: flex;
  flex-wrap: nowrap;
  max-width: 800px;
  padding: 10px;
  height: 100px;
}

.attribute-square hr {
  width: 85%;
  height: 4px;
  background-color: white;
  bottom: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateY(20px); */
 }
 100% {
    opacity: 1;
    /* transform: translateY(0); */
 }
}

.fade-in {
  animation: fadeIn 1s ease-in-out
}

.attribute-square {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: white;
  margin: 5px;
  flex-direction: column;
}

.attribute-square.correct {
  background-color: #00b42d;
  border: 3px solid black;
}

.attribute-square.partial {
  background-color: orange;
  border: 3px solid black;
}

.attribute-square.incorrect {
  background-color: #ff3131;
  border: 3px solid black;
}

.correct:hover, .partial:hover, .incorrect:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.square-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-shadow: black 1px 0 5px;
  color: white;
  font-size: large;
}

.champion-image {
  position: relative;
  padding: 5px;
  height: 100px;
  width: 100px;
}

.champion-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: white;
  width: 395px;
  position: absolute;
  margin-top: 54px;
  border: solid black;
  padding-left: 0;
  overflow-y: auto;
  max-height: 250px;
  z-index: 1;
}

.champion-image-list {
  height: 50px;
  width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  left: 0;
}

.champion-list-item {
  display: flex;
  padding: 5px;
  left: 0;
  font-size: x-large;
}

li:hover {
  background-color: yellow;
}
