.App {
  text-align: center;
}

.container {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}

.header {
  font-size: 5rem;
}

.footer {
  margin: 0 auto;
  text-align: center;
}

.footer-container {
  background-color: blue;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.searchbar {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  margin: 1rem;
  margin-bottom: 3rem;
}

.answer-container {
  display: flex;
  background-color: black;
  width: 700px;
  height: 100px;
}

.fade-in {
  animation: fadeIn 1s;

  @keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: .5; }
    100% { opacity: 1; }
  }
}

.attribute-container {
  display: flex;
  background-color: blue;
  width: 700px;
  height: 100px;
}

.attribute-square, .attribute-square-correct, .attribute-square-partial, .attribute-square-incorrect {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  flex: 1;
  border: solid red;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 15%;
}

.attribute-square-correct {
  background-color: green;
}

.attribute-square-partial {
  background-color: orange;
}

.attribute-square-incorrect {
  background-color: red;
}

.square-content {
  align-items: center;
}

.champion-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.champion-list-item {
  margin: 8px 0;
}

li:hover {
  background-color: aqua;
}