.App {
  text-align: center;
}

*{
  background-color: rgb(244, 244, 244);
}

.container {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}

.title {
  font-size: 5rem;
}

.searchbar {
  width: 300px;
  height: 50px;
  margin: 1rem;
  margin-bottom: 3rem;
}

.answer-container {
  display: flex;
  background-color: black;
  width: 700px;
  height: 100px;
}

.attribute-container {
  display: flex;
  background-color: blue;
  width: 700px;
  height: 100px;
}

.attribute-square {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  border: solid red;
  background-color: aqua;
  box-sizing: border-box;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 15%;
}

.square-content {
  align-items: center;
}
